.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    h1 {
        font-size: 5rem;
    }
}

.mainBtn {
    background: linear-gradient(332deg, rgba(0,13,247,1) 0%, rgba(0,241,245,1) 76%);
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    padding: 1em 2em;
    border: none;
    border-radius: 6px;
    margin: 1rem;
    outline: none;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

}